{% extends 'base.html.twig' %}

{% block content %}
    <h1>Drupal Developer with over 11 years in web development.</h1>
    <p>More information about <a href="https://gouli.github.io/">me</a>
{% endblock %}
